/* Don't forget that media queries are required for this project */
body {
    background-color: #F9F1F0;
    margin: 0px;
}

.header {
    background-color: #A34545;
    text-align: center;
    color: #ECB2A3;
}

* {
    box-sizing: border-box;
}

/*fix the navbar drop-down*/

#nav1 {
    width: 100%;
    position: fixed;
    box-shadow: 2px 4px 8px rgb(31, 3, 3)
}

nav ul {
    padding: 0.5%;
    margin: 0;
    list-style-type: none;
    position: relative;
    background-color: #A34545;
}

nav ul li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    line-height: 6vh;
    font-size: 5vh;
    text-align: center;
}

nav a, nav a:visited {
    color: #F0D0C9;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 9.65vh;
    box-shadow: 2px 4px 8px rgb(31, 3, 3)
}

nav a:hover {
    background-color: #803434d0;
}

nav ul li:hover > ul {
    display: inherit;
    background-color: #d1b4ae7c;
}

nav ul ul li {
    width: 20vh;
    float: none;
    display: list-item;
    position: relative;
    background-color: #F0D0C9;
    box-shadow: 4px 2px 8px rgb(31, 3, 3)
}

nav ul ul li a:hover {
    background-color: #d1b4aec7;
}

nav ul ul li a, nav ul ul li a:visited {
    color:#A34545;
    font-size: 2.4em;
    text-align: left;
}

.logo {
    width: 12.5vh;
    height: 12.5vh;
    vertical-align: middle;
}

body {
    margin: 0px;
    background-color: #F9F1F0;
    color: #F0D0C9;
}

.hero1 {
    height: 50vh;
    display: flex;
    background-position: 50% 90%;
    background-image: url(../tourism-img/canada-about/Cn-Tower-in-Toronto-Canada-at-Night.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.hero2 {
    height: 50vh;
    display: flex;
    background-position: 50% 50%;
    background-image: url(../tourism-img/canada-dis/Grey-Dome-Building-Beside-Body-Of-Water-During-Sunset.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.hero3 {
    height: 50vh;
    display: flex;
    background-position: 50% 50%;
    background-image: url(../tourism-img/canada-visit/Birds-Eye-View-Of-City-During-Sunset.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.flex-container1 {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    color: #ECB2A3;
    font-size: 2.5em;
    background-color: #A34545;
    justify-content: space-around;
}

.lines {
    height: 7px;
    width: 35%;
    background-color: #F1C3B8;
    align-self: center;
}

h2 {
    text-align: center;
}

section {
    background-color: #F0D0C9;
    display: flex;
    flex-direction: row;
    margin: 10vh;
}

p {
    color: #9B2828;
    font-size: 1.75em;
    width: 47.5%;
    margin: 5vh;
    align-self: center;
}

#map {
    width: 47.5%;
    height: 40vh;
    object-fit: cover;
}

#leaf {
    width: 47.5%;
    height: 40vh;
    object-fit: cover;
}

#bag {
    width: 47.5%;
    height: 40vh;
    object-fit: cover;
}

#waterfall {
    width: 47.5%;
    height: 40vh;
    object-fit: cover;
}

#cornicopia {
    width: 47.5%;
    height: 40vh;
    object-fit: cover;
}

#hourglass {
    width: 47.5%;
    height: 40vh;
    object-fit: cover;
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    margin: 40px 20px 40px 40px;
    width: 30%;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet {
    color: #D2B6AF;
}

footer {
    background-color: #A34545;
    color: #ECB2A3;
}