/* Don't forget that media queries are required for this project */
body {
    background-color: #F9F1F0;
    margin: 0px;
}

.header {
    background-color: #A34545;
    text-align: center;
    color: #ECB2A3;
}

* {
    box-sizing: border-box;
}

/*fix the navbar drop-down*/

#nav1 {
    width: 100%;
    position: fixed;
    box-shadow: 2px 4px 8px rgb(31, 3, 3)
}

nav ul {
    padding: 0.5%;
    margin: 0;
    list-style-type: none;
    position: relative;
    background-color: #A34545;
}

nav ul li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    line-height: 6vh;
    font-size: 5vh;
    text-align: center;
}

nav a, nav a:visited {
    color: #F0D0C9;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 9.65vh;
    box-shadow: 2px 4px 8px rgb(31, 3, 3)
}

nav a:hover {
    background-color: #803434d0;
}

nav ul li:hover > ul {
    display: inherit;
    background-color: #d1b4ae7c;
}

nav ul ul li {
    width: 20vh;
    float: none;
    display: list-item;
    position: relative;
    background-color: #F0D0C9;
    box-shadow: 4px 2px 8px rgb(31, 3, 3)
}

nav ul ul li a:hover {
    background-color: #d1b4aec7;
}

nav ul ul li a, nav ul ul li a:visited {
    color:#A34545;
    font-size: 2.4em;
    text-align: left;
}

.logo {
    width: 12.5vh;
    height: 12.5vh;
    vertical-align: middle;
}

.hiro1 {
    height: 50vh;
    display: flex;
    background-position: 50% 90%;
    background-image: url(../tourism-img/china-about/Top-Angle-Photography-Of-Cup-Photo.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.hiro2 {
    height: 50vh;
    display: flex;
    background-position: 50% 50%;
    background-image: url(../tourism-img/china-dis/Photo-Of-River-Near-Mountains-Covered-With-Trees.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.hiro3 {
    height: 50vh;
    display: flex;
    background-position: bottom;
    background-image: url(../tourism-img/china-visit/Sunset-China-Pagoda-Lotus.jpg);
    background-attachment: fixed;
    background-size: cover;
}

body {
    margin: 0px;
    background-color: #F9F1F0;
    color: #F0D0C9;
}

/* img classes */

.sde {
    width: 50%;
    height: 600px;
}

/* visit */
.to {
    height: 45%;
    background-color:#A34545 ;
    padding: 10px 20px 10px 20px;
    color: #F0D0C9;
    font-size: 27px;
    
}

.to p {
    column-count: 2;
    column-gap: 40px;
    margin: 30px;
}

.trans {
    width: 30%;
    height: 450px;
    margin-left: 45px;
}

.hend{
    margin-left: 42%;
}





footer {
    background-color: #A34545;
}

/* discover */
.dis{
    height: 700px;
    background-color: #F0D0C9;
    width: 50%;
    color: #A34545;
padding: 50px;
font-size: 1.6em;
}


.whle{
 display: flex;
 align-content: space-between;
 margin: 30px;
}

.hl{
    background-color: #A34545;
    width: 7px;

}

.dn{
    width: 50%;
    height: 700px;
}

.ho{
    display: flex;
    align-content: space-between;
    margin: 30px;
}

.hop{
    width: 50%;
    height: 1100px;
}

.hope{
    height: 1100px;
    background-color: #F0D0C9;
    width: 50%;
    color: #A34545;
padding: 50px;
font-size: 1.6em;
}


/* abt */
.lin {
  height: 100px;
  background-color: #A34545;
}

.adv{
    color:#B24040; 
    background: #F0D0C9; 
    width: 50%;
    height: 600px;
    font-size: 2em;
    padding: 60px;
}

.line{
    background-color: #A34545;
    height: 10px;
    width: 92.18%;
    margin-left: 80px;
}

.whl {
    display: flex;
  margin:  60px 80px 0px;
}
/* headings abt */
.hed {
    display: flex;
    background-color: #A34545;
    height: 175px;
    align-items: center;
    margin: 30px 0px 30px 0px;
    width: 100%;
    justify-content: space-around;
}

.lne{

    background: #F0D0C9; 
    width: 35%;
   height: 10px;
}

.fce{
    font-size: 40px;
}

/* last 4 abt */
.bgg{
    color:#B24040; 
    background: #F0D0C9; 
    width: 50%;
    height: 850px;
    font-size: 2em;
    padding: 60px;
}

/* parent */
.bg{
display: flex;
margin:  60px 80px 0px;
}

/* img */
.bge{
    width: 50%;
    height: 850px;
}