/*Header*/
.logo {
    width: 15vh;
    height: 15vh;
    vertical-align: middle;
}
.header {
    background-color: #A34545;
    text-align: center;
    color: #ECB2A3;
}
* {
    box-sizing: border-box;
}

/*fix the navbar drop-down*/
.navi {
    position: fixed;
    width: 100%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

nav ul {
    padding: 0.5%;
    margin: 0;
    list-style-type: none;
    background-color: #A34545;
}

nav ul li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    line-height: 6vh;
    font-size: 5vh;
    text-align: center;
}

nav a, nav a:visited {
    color: #F0D0C9;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 9.65vh;
    box-shadow: 2px 4px 8px rgb(31, 3, 3)
}

nav a:hover {
    background-color: #803434d0;
}

nav ul li:hover > ul {
    display: inherit;
    background-color: #d1b4ae7c;
}

nav ul ul li {
    width: 20vh;
    float: none;
    display: list-item;
    position: relative;
    background-color: #F0D0C9;
    box-shadow: 4px 2px 8px rgb(31, 3, 3)
}

nav ul ul li a:hover {
    background-color: #d1b4aec7;
}

nav ul ul li a, nav ul ul li a:visited {
    color:#A34545;
    font-size: 2.4em;
    text-align: left;
}

/*Hero*/
.hiro1 {
    height: 50vh;
    display: flex;
    background-position: bottom;
    background-image: url(../tourism-img/southkorea-about/Brown-Bare-Trees-Under-Blue-Sky-During-Daytime-Photo.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.hiro2 {
    height: 50vh;
    display: flex;
    background-position: 0% 75%;
    background-image: url(../tourism-img/southkorea-dis/Pink-Petaled-Flowers-On-Roof-Shingles-Photo.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.hiro3 {
    height: 50vh;
    display: flex;
    background-position: bottom;
    background-image: url(../tourism-img/southkorea-visit/City-Under-Cloudy-Sky-Photo.jpg);
    background-attachment: fixed;
    background-size: cover;
}

 /*Body Format*/
 body {
    margin: 0px;
    background-color: #F9F1F0;
    color: #F0D0C9;
}

/*Heading Format for Article Contents*/
.line {
    height: 7px;
    color: #F1C3B8;
    background-color: #F1C3B8;
    width: 35%;
    align-self: center;
    margin: 0px 80px 0px 80px;
}

.pos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    background-color: #A34545;
    margin-top: 60px;
    
}

.headie {
    align-self: center;
}

.headie1 {
    font-size: 80px;
    font-family: 'Segoe UI';
    text-align: center;
}

/*Format for the Article Contents*/
.contents {
    display: flex;
    background-color: #F0D0C9;
    margin: 60px 80px 0px 80px;
}

.text {
    font-size: 17px;
    color: #9B2828;
    width: 50%;
    padding: 40px;
}

.textie {
    margin: 0px;
    font-family: Georgia;
    line-height: 1.6;
    text-indent: 50px;
}

.textie1 {
    margin: 0px;
    font-family: Cambria;
}

.image {
    width: 100%;
}

.holi {
    height: 7px;
    color: #F1C3B8;
    background-color: #A34545;
    margin: 0px 80px 0px 80px;
}

/*Locations Section*/
.imglo {
    width: 50%;
    background-image: url(/tourism-img/southkorea-about/Car-Passing-Through-Road-Beside-Building-Photo.jpg);
    background-size: 100%;
    background-position: 0% 90%;
}
/*Demographics and major Cities Section*/
.imgdmc {
    width: 50%;
    background-image: url(/tourism-img/southkorea-about/People-Walking-On-Street-During-Daytime-Photo.jpg);
    background-size: 150%;
    background-position: 0% 80%;
}
/*Exports Section*/
.imgex {
    width: 50%;
    background-image: url(/tourism-img/southkorea-about/Assorted-Clothes-Inside-Room-Photo.jpg);
    background-size: 120%;
    background-position: 0% 75%;
}
/*Natural Locations Section*/
.imgnl {
    width: 50%;
    background-image: url(/tourism-img/southkorea-about/Brown-And-Red-Trees-During-Daytime-Photo.jpg);
    background-size: 210%;
    background-position: 50% 75%;
}
/*Cultural Overview Section*/
.imgco {
    width: 50%;
    background-image: url(/tourism-img/southkorea-about/Free-Seoul.jpg);
    background-size: 120%;
    background-position: 50% 80%;
}
/*Brief History Section*/
.imgbh {
    width: 50%;
    background-image: url(/tourism-img/southkorea-about/South-Korea-Palace-Traditional.jpg);
    background-size: 280%;
    background-position: center;
}
footer {
    background-color: #A34545;
}
/*Discover Page*/
.sections {
    display: flex;
    background-color: #F0D0C9;
    margin: 60px 80px 0px 80px;
}
.sec {
    margin: 80px 160px 0px 160px;
}
.pic {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 40px 40px;
    width: 30%;
    justify-content: space-between;
}
.imgtc {
    height: 50%;
}

.imgtc1 {
    width: 100%; 
    object-fit: cover;
    object-position: 50% 75%;
    height: 100%;
    padding-bottom: 20px;
}
.imgtc2 {
    width: 100%; 
    object-fit: cover;
    object-position: 50% 75%;
    height: 50%;
}

.art {
    background-color: #F0D0C9;
}
.texty {
    font-size: 17px;
    color: #9B2828;
    width: 70%;
    padding: 40px 40px 40px 20px;
}

.texty1 {
    margin: 0px;
    font-family: Georgia;
    line-height: 1.6;
    text-indent: 50px;
}
.veli {
    width: 7px;
    color: #F1C3B8;
    background-color: #A34545;
}
.imgtc3 {
    width: 100%;
    background-image: url(/tourism-img/southkorea-dis/Black-Bean-Noodle.jpg);
    background-size: 100%;
    background-position: center;
    height: 100%;
    margin-bottom: 20px;
} 
/*Visit Page*/
.lo {
    margin: 60px 80px 0px 80px;
    display: flex;
    background-color: #F0D0C9;
}

.textylo {
    font-size: 17px;
    color: #9B2828;
    width: 70%;
    padding: 40px 40px 40px 20px;
    align-self: center;
}







/*Image Carousel*/
.carouselsk {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    margin: 40px 20px 40px 40px;
    width: 30%;
}

.carouselsk-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carouselsk-open:checked + .carouselsk-item {
    position: static;
    opacity: 100;
}

.carouselsk-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carouselsk-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carouselsk-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carouselsk-control.prev {
    left: 2%;
}

.carouselsk-control.next {
    right: 2%;
}

.carouselsk-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carouselsk-1:checked ~ .control-1,
#carouselsk-2:checked ~ .control-2,
#carouselsk-3:checked ~ .control-3,
#carouselsk-4:checked ~ .control-4,
#carouselsk-5:checked ~ .control-5,
#carouselsk-6:checked ~ .control-6 {
    display: block;
}

.carouselsk-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carouselsk-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carouselsk-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carouselsk-bullet:hover {
    color: #aaaaaa;
}

#carouselsk-1:checked ~ .control-1 ~ .carouselsk-indicators li:nth-child(1) .carouselsk-bullet,
#carouselsk-2:checked ~ .control-2 ~ .carouselsk-indicators li:nth-child(2) .carouselsk-bullet,
#carouselsk-3:checked ~ .control-3 ~ .carouselsk-indicators li:nth-child(3) .carouselsk-bullet,
#carouselsk-4:checked ~ .control-4 ~ .carouselsk-indicators li:nth-child(4) .carouselsk-bullet,
#carouselsk-5:checked ~ .control-5 ~ .carouselsk-indicators li:nth-child(5) .carouselsk-bullet,
#carouselsk-6:checked ~ .control-6 ~ .carouselsk-indicators li:nth-child(6) .carouselsk-bullet {
    color: #D2B6AF;
}