/* Don't forget that media queries are required for this project */
body {
    background-color: #F9F1F0;
    margin: 0px;
}

.header {
    background-color: #A34545;
    text-align: center;
    color: #ECB2A3;
}

* {
    box-sizing: border-box;
}

/*fix the navbar drop-down*/

nav ul {
    padding: 0.5%;
    margin: 0;
    list-style-type: none;
    position: relative;
    background-color: #A34545;
}

nav ul li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    line-height: 6vh;
    font-size: 5vh;
    text-align: center;
}

nav a, nav a:visited {
    color: #F0D0C9;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 11vh;
}

nav a:hover {
    background-color: #803434d0;
}

nav ul li:hover > ul {
    display: inherit;
    background-color: #d1b4ae7c;
}

nav ul ul li {
    width: 20vh;
    float: none;
    display: list-item;
    position: relative;
    background-color: #F0D0C9;
}

nav ul ul li a:hover {
    background-color: #d1b4aec7;
}

nav ul ul li a, nav ul ul li a:visited {
    color:#A34545;
    font-size: 2.5em;
    text-align: left;
}

.logo {
    width: 15vh;
    height: 15vh;
    vertical-align: middle;
}

body {
    margin: 0px;
    background-color: #F9F1F0;
    color: #F0D0C9;
}

.flex-container {
flex-direction: row;
}

.dest {
    height: 105px; 
    font-size: 40px;
    background-color: #A34545; 
    text-align: center;
    
}
.hopa {
    display: flex;
    font-size: 30px;
    margin: 60px;
    justify-content: space-between;
 
}
.csc{
    background-color: #F0D0C9;
    width: 30%;
    text-align: center;
    color: #B24040;
    padding: 0px 20px 20px 20px;
}

.hiro {
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: 75% 75%;
}

.to {
    height: 300px;
    background-color:#A34545 ;
    padding: 10px 20px 10px 20px;
    color: #F0D0C9;
}
.adv{
    color:#B24040; 
    padding: 10px 20px 10px 20px;
    background: #F0D0C9;
   
}

.sde{
    height: 500px;
    width: 35%;
    margin: 30px;
   
}

.trans {
    width: 30%;
    height: 450px;
    margin-left: 45px;
}

footer {
    background-color: #A34545;
}

/* Image Carousel for the Home Page*/
.carousel, .carousel1, .carousel2 {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.205);
    margin-top: 26px;
}

.carousel-inner, .carousel1-inner, .carousel2-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item, .carousel1-open:checked + .carousel1-item, .carousel2-open:checked + .carousel2-item {
    position: static;
    opacity: 100;
}

.carousel-item, .carousel1-item, .carousel2-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img, .carousel1-item img, .carousel2-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control, .carousel1-control, .carousel2-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev, .carousel1-control.prev, .carousel2-control.prev {
    left: 2%;
}

.carousel-control.next, .carousel1-control.next, .carousel2-control.next {
    right: 2%;
}

.carousel-control:hover, .carousel1-control:hover, .carousel2-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4 {
    display: block;
}

#carousel1-1:checked ~ .control-1,
#carousel1-2:checked ~ .control-2,
#carousel1-3:checked ~ .control-3,
#carousel1-4:checked ~ .control-4 {
    display: block;
}

#carousel2-1:checked ~ .control-1,
#carousel2-2:checked ~ .control-2,
#carousel2-3:checked ~ .control-3,
#carousel2-4:checked ~ .control-4 {
    display: block;
}

.carousel-indicators, .carousel1-indicators, .carousel2-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li, .carousel1-indicators li, .carousel2-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet, .carousel1-bullet, .carousel2-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover, .carousel1-bullet:hover, .carousel2-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
    color: #D2B6AF;
}

#carousel1-1:checked ~ .control-1 ~ .carousel1-indicators li:nth-child(1) .carousel1-bullet,
#carousel1-2:checked ~ .control-2 ~ .carousel1-indicators li:nth-child(2) .carousel1-bullet,
#carousel1-3:checked ~ .control-3 ~ .carousel1-indicators li:nth-child(3) .carousel1-bullet,
#carousel1-4:checked ~ .control-4 ~ .carousel1-indicators li:nth-child(4) .carousel1-bullet {
    color: #D2B6AF;
}

#carousel2-1:checked ~ .control-1 ~ .carousel2-indicators li:nth-child(1) .carousel2-bullet,
#carousel2-2:checked ~ .control-2 ~ .carousel2-indicators li:nth-child(2) .carousel2-bullet,
#carousel2-3:checked ~ .control-3 ~ .carousel2-indicators li:nth-child(3) .carousel2-bullet,
#carousel2-4:checked ~ .control-4 ~ .carousel2-indicators li:nth-child(4) .carousel2-bullet {
    color: #D2B6AF;
}

.line {
    height: 7px;
    color: #F1C3B8;
    background-color: #F1C3B8;
    width: 35%;
    align-self: center;
    margin: 0px 80px 0px 80px;
}

.pos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    background-color: #A34545;
    margin-top: 60px;
    height: 175px;
}

.headie {
    align-self: center;
}

.headie1 {
    font-size: 80px;
}