/* Don't forget that media queries are required for this project */

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    overflow: hidden;
    height: 125px;
    background-color: #A34545;
    display: inline-flex;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
}

body {
    margin: 0px;
    background-color: #F9F1F0;
}

.flex-container {
flex-direction: row;

}

.dest {
    font-size: 10px;
    height: 105px; 
   
    font-size: 30px;
    background-color: #A34545; 
    text-align: center;
}
.hopa {
    display: flex;
    font-size: 30px;
    margin: 60px;
    justify-content: space-between;
}
.csc{
    background-color: #F0D0C9;
    width: 30%;
   
    text-align: center;
}

.hiro {
    width: 100%;
    height: 1500px;
    object-fit: cover;
    object-position: 75% 75%;
}

footer {
    background-color: #A34545;
}
